
<!DOCTYPE html>
<html lang="zxx">
<head>
  <title>Pro-Market a Corporate Category Bootstrap Responsive Web Template| Home :: w3layouts</title>
  <!--meta tags -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords"
    content="Pro-Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
            Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>

  <link href="//fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
  <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
</head>

<body >
  <div class="main-top" id="home">
    <!-- header -->
    <div class="headder-top d-lg-flex justify-content-between align-items-center py-3 px-sm-3" style="position: fixed;">
      <!-- logo -->
      <div id="logo">
        <h2>
          <a href="" style="font-size: 20px  ; margin-left: 0%">ADVOCATE DIARY</a>
        </h2>
      </div>
      <!-- //logo -->
      <!-- nav -->
      <nav >
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
          <li>
            <a href="" class="active">Home</a>
          </li>
          <li>
            <a href="\#feature"> Feature</a>
          </li>
          <li>
            <a href="\#about"> About</a>
          </li>
          <li>
            <a href="\#contact">Contact</a>         
          </li>
          <li>
            <a routerLink="/login" (click)="login()">Login</a>
          </li>
          <li>
            <a  routerLink="/register" (click)="register()">SignUp</a>
          </li>
        </ul>
      </nav>      
    </div>
 
    <section >
    <div class="container" style="padding-right: 0px;padding-left: 0px ;border: 0px">
      <div class="slider-info" >
        <div class="row" >
          <div class="col-lg-6 col-md-6 ">
            <h5>CASE DIARY MANAGEMENT <br>FOR LAWYERS
            </h5>
            <p class="mt-2"><br>
              Legal Diary is a software for advocates which can help you maintain your daily case diary,client and fees
              details! Just<br> <a routerLink="register" href="" class="accountlink" style="color: rgb(229, 105, 23) ;"> create your
                account</a> </p>        
            <div class="outs_more-buttn mt-md-4 mt-3" style="color: #7069D8">
              <a href="https://www.youtube.com/watch?v=PTpOS7z_r7Q" style="background-color: #7069D8">Watch Demo</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 banner-two-grid ">
            <img src="../../assets/b1.png" alt="" class="img-fluid" style="height: 252px ; width: 500px">
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
<!-- </section> -->
  <!-- banner -->
  <!-- about -->
  <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div id="feature" align="center">
      <h2 align="center">FEATURES</h2>
      <p>
        All the premium features you would expect! No Account Expiry & Nothing to pay upto <b
          style="color: rgb(229, 105, 23)">30</b> case entries. <br>
        <b style="color: rgb(229, 105, 23)">2999</b> per year for<b style="color: rgb(229, 105, 23)"> unlimited storage
        </b>.
      </p> <br><br> <br>
    </div>
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
      
      <div class="row">
        <!-- 1 -->
       <div class="col-lg-3 col-md-3 col-sm-3 my-3 about-grid-gried" *ngFor="let item of features">
          <div class="about-fashion-grid " style="height: 240px">
            <div class="about-icon text-center">
              <span aria-hidden="true"><i class="{{item.class}}"
                  style='margin-left:0%; color: #000; font-size: 25px;margin-top: 10px'> </i></span>
            </div>
            <div class="about-wthree-grid mb-3 mt-lg-4 mt-3">
              <h4>{{item.heading}}</h4>
            </div>
            <p >{{item.text}} </p><br>
          </div>
        </div>
      </div><br> <br><br> <br>
      <div class="row mt-lg-5 mt-md-4 mt-3 ">
        <div class="col-lg-6 col-md-6 my-3">
          <img src="../../assets/s1.png" alt="" class="img-fluid"
            style="height: 330px ; width: 463px;margin-left: -6% ">
        </div>
        <div class="col-lg-6 col-md-6 my-3" id="about"><br> <br>
          <h3 class="title">Salient Features: </h3><br> 
          <h4 style="color: rgb(229, 105, 23)"><br> 
            <b> Join 150+ Happy Customers!</b>
          </h4>
          <p style="color: rgb(229, 105, 23)">
            Legal Diary has everything you need to maintain and access your legal case diary online
            in no time! It is easy to update, view today's, tomorrow's and date awaited cases, generate reports
            and   fully customizable!
          </p> <br>
          <div class="wthree-about-list mt-md-4 mt-3">
            <ul  *ngFor= " let item of salientFeature;index as i" >
              <li class="mt-2">
                <span aria-hidden="true">
                  <p><i class="fas fa-angle-double-right"> {{item.feature}} </i></p>
                </span>      
              </li>           
            </ul>
          </div>       
        </div>
      </div>
    </div>
  </section>


  <br> <br> <br> <br> <br> <br>
  <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3" >
      <h3 class="title mb-3" style="margin-left: 100px">Contact </h3>
      <p>Ready to give it a try? That's great! <a href="" class="accountlink"
        style="color:rgb(236, 96, 61)" routerLink="register" >Create your Account </a>. In case of any issues,<br> Give us a call or
      send us an email and we will get back to<br> you as soon as possible!</p>
      
      <br> <br><br> <br>
       <div class="row">
        <div class="col-lg-6 col-md-7">
          <div class="service-grid-wthree mt-lg-5 mt-md-4 my-3"  *ngFor="let item of contact">
            <div class="row mt-lg-4 mt-md-4 mt-sm-3 mt-2">          
               <div class="col-lg-2 col-md-3 col-sm-2 service-jst-icon">              
                <div class="service-icon text-center ">
                  <span aria-hidden="true"> <i class="{{item.class}}"
                      style=' margin-right:0% ; color: #000; font-size: 30px;margin-top: 10px'></i></span>
                </div>
              </div>
              <div class="ser-sevice-grid col-lg-10 col-md-9 col-sm-10" >
                <h4>{{item.heading}}</h4>
                <p class="mt-2">{{item.text}}</p><br> <br>
              </div>
            </div>
          </div>
 
        </div>
        <div class="col-lg-6 col-md-5 text-center">
          <img src="../../assets/s2.png" alt="" class="img-fluid"
            style="height: 476px ; width: 463px;margin-left: -6% ">
        </div>

      </div>
    </div>
  </section>

  <section class="price py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 my-6">
          <h3 class="title">Select Your Pricing Plans</h3>

          <img src="../../assets/s3.png" alt="" class="img-fluid"
            style="height: 476px ; width: 463px;margin-left: -6% ">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 my-6">
          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 my-3 price-price" style="height: 476px" *ngFor="let item of price ; index as i ">
              <div class="table-wthree-price py-lg-5 py-md-4 py-3" style="height: 370px">

                <div class="table-mid-head text-center">
                  <h4>Package {{i+1}}</h4>
                </div>
                <div class="table-sub-title text-center" style="margin-top: 10px">
                  <h5 class="pt-lg-4 pt-md-4 pt-3">
                    <span>$</span>{{item.cost}}</h5>
                  <h6 class="pt-1">Per Month</h6>
                  <ul class="mt-lg-4 mt-md-3 mt-2">
                    <li class="pb-1">
                      consectetur
                    </li>
                    <li class="pb-1">
                      eiusmod
                    </li>
                    <li class="pb-1">
                      incididunt
                    </li>
                    <li>
                      dolor sit
                    </li>
                  </ul>
                </div>
                <div class="outs_more-buttn mt-md-4 mt-3 text-center" style="margin-top: 10px">
                  <a href="contact.html" style="background-color: #7069D8">Book Now</a>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-w3layouts-bottem py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
      <div class="row mt-lg-4 mt-3">
        <div class="col-lg-5 col-md-4 footer-titles my-3">
          <h3>
            <a href="index.html">ADVOCATE DIARY</a>
          </h3>
          <p class="pt-3">
            Melbourne St,South Birbane
            <br>4101 Austraila.</p>
          <p class="pt-3">
            +(000) 123 4565 32</p>
          <p class="pt-3">
            <a href="mailto:info@example.com">info@example1.com</a>
          </p>
        </div>
        <div class="col-lg-3 col-md-4 footer-titles my-3">
          <h4 class="mb-lg-4 mb-3">Quick links</h4>
          <ul class="bottom-menu ">
            <li class="pb-sm-2 pb-1">
              <a href="index.html">Home</a>
            </li>
            <li class="py-sm-2 py-1">
              <a href="about.html">About</a>
            </li>
            <li class="py-sm-2 py-1">
              <a href="gallery.html">Projects</a>
            </li>
            <li class="py-sm-2 py-1">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer-titles col-lg-4 col-md-4 my-3">
          <h4 class="mb-lg-4 mb-3">Newsletter</h4>
          <p>Get Subscribe Here</p>
        
          <div class="newsletter d-flex mt-lg-4 mt-3">
            <ul>
              <li class="facebook">
               
                <input type="email" name="Your Email" placeholder="Your Email" style=" width: 165px; margin-left: 0px;">
                <i class="fas fa-envelope-open-text"
                  style=' background-color:  #7069D8 ;margin-left:0% ; color: #000; font-size: 15px;margin-top: 0px;padding: 10px'>
                </i>
              </li>
            </ul>
          </div>

          <div class="social-icons mt-3" style="margin-top: 20px">
            <ul>
              <li class="facebook">
                <a href="#">
     >
                  <i class="fab fa-facebook-f"
                    style=' margin-right:0% ; color: rgb(255, 255, 255); font-size: 16px;margin-top: 6px'></i>
                </a>
              </li>
              <li class="twitter">
                <a href="#">
    
                  <i class="fab fa-twitter"
                    style=' margin-right:0% ; color: rgb(255, 255, 255); font-size: 16px;margin-top: 6px'></i>
                </a>
              </li>
              <li class="rss">
                <a href="#">
               
                  <i class="fas fa-rss"
                    style=' margin-right:0% ; color: rgb(255, 255, 255); font-size: 16px;margin-top: 6px'></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
 
 
    </div>
  </section>
 
  <footer style="height: 40px" align="center">
    <div class="bottom-footer text-center py-md-4 py-3">
      <p> 
        © 2019 Pro-Market. All Rights Reserved | Design by
        <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
      </p>
    </div>
  </footer>
</body>
</html>