<div class="verify">
    <h3>Your Email Verify Successfully</h3>
    <img style="width: 10%" src="https://cdn1.iconfinder.com/data/icons/emails-6/32/email_mail_verify_verified_inbox_true_right-512.png">
    <div>
        <button class="btn btn-primary" [routerLink]="['/home/login']">Back To Login</button>
    </div>
</div>