<div class="card">
    <div class="search">
        <!-- <input type="text" [(ngModel)]="searchText" class="search" placeholder="Type to filter by name"> -->
        <input type="text" [(ngModel)]="searchText" placeholder="Search.." name="search">
        <!-- <button> <i class="fa fa-search"></i></button> -->
    </div>



    <div class="container my-5">
        <div class="card-body">
            <h4 class="card-title">Court Details</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead style="margin-bottom: 5px;margin-top: 5px">
                    <tr>
                        <th style="text-align: center">#</th>
                        <th style="text-align: center">Court Name </th>
                        <th style="text-align: center">Court Type </th>
                        <th style="text-align: center">Court Address </th>
                        <th style="text-align: center">Edit</th>
                        <th style="text-align: center">Delete</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of court  | filter:searchText ; index as i">
                        <td>{{i+1}}</td>
                        <td>{{data.courtName}}</td>
                        <td>{{data.location}}</td>
                        <td>{{data.courtType}}</td>
                        <td> <button class="btn btn-primary buttons" [routerLink]="['/court/edit',data._id]"><span  class="glyphicon glyphicon-pencil"></span></button></td>

                        <td><button class="btn btn-primary buttons" (click)="deleteCourt(data._id)"> <span class="glyphicon glyphicon-trash"></span></button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>



</div>

<ngx-loading [show]="loading " [config]="{primaryColour: '#006ddd', secondaryColour: 'yellow', tertiaryColour: '#006ddd', backdropBorderRadius: '3px' } " [template]="template "></ngx-loading>