<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <form [formGroup]="loginForm">
        <div class="container register">
            <div class="row">
                <div class="col-md-3 register-left">
                    <img src="https://img.icons8.com/ios-filled/50/000000/gender-neutral-user.png" alt="" />
                    <h3>Welcome</h3>
                    <p>You are 30 seconds away from login!</p>

                    <div style="margin-bottom: 35px; margin-left: 15px ">
                        <button type="button" (click)="facebookLogin()" style="background-color: blue" class="btn btn-tw shu">
                  <i class="fab fa-facebook-f ankit"></i>
                </button>
                        <button type="button" (click)="twitterLogin()" class="btn btn-tw shu">
                  <i class="fab fa-twitter ankit "></i>
                </button>
                        <button type="button" (click)="googleLogin()" style="background-color: red" class="btn btn-tw shu">
                  <i class="fab fa-google ankit "></i>
                </button>
                        <button type="button" (click)="linkedinLogin()" style="background-color: rgb(90, 161, 167)" class="btn btn-tw shu">
                  <i class="fab fa-linkedin ankit"></i>
                </button>
                    </div>

                </div>

                <div class="col-md-9 register-right">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading" style="padding-bottom: 150px">Login Page</h3>
                        </div>


                        <div class="main">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" formControlName="email" style="width: 70%" placeholder="Email *" required class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.email.errors }" />
                                <div *ngIf="submitted && validate.email.errors" class="invalid-feedback">
                                    <div *ngIf="validate.email.errors.required">Email is required</div>
                                    <div *ngIf="validate.email.errors.email">Enter valid Email</div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Password</label>
                                <show-hide-password btnStyle="primary" style="width: 70%" [btnOutline]="true">
                                    <input type="password" formControlName="password" placeholder="Password *" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.password.errors }" />
                                </show-hide-password>
                                <small *ngIf="submitted && validate.password.errors" style="color: red">
                                        <span *ngIf="validate.password.errors.required">Password is required</span>
                                      
                                </small>
                                <a routerLink="/home/forgotPassword">Forgot Password ?</a>
                            </div>
                        </div>

                        <input type="submit" style="margin-left: 25%" class="btn btn-primary" (click)="login()" value="Login" />

                        <input type="submit" class="btn btn-primary" (click)="register()" style="margin-left: 20%;" value="Register" />
                    </div>
                </div>

            </div>


        </div>


    </form>
</body>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>