.navSuccess {
    margin-left: 14%;
    margin-top: 3.5%
}

.navFalse {
    margin-top: 4%
}

.verify {
    margin-top: 10%;
    text-align: center;
}

.card {
    width: 50%;
    align-self: center;
    margin-left: 30%
}

.card-img-top {
    /* background-color: #7069d8; */
    /* background-image: "https://freerangestock.com/sample/119649/technology-background--digital-hand--simple-background-with-co.jpg" */
    height: 100px;
}