<div>
    <app-header></app-header>
</div>
<!-- <div class="verify" *ngIf="!verify">

    <div class="card">
        <div class="card-header">
            <img style="width: 50px" class="pull-left" src="https://icon-library.net/images/message-icon-png/message-icon-png-14.jpg " alt="">
            <h3 class="pull-right">Message</h3>
        </div>
        <p style="padding-top: 8%;padding-bottom: 5%; font: message-box">
            Hi {{name}}, <br>Your register email is not verified. Please verify your email.
        </p>
        <button class="btn btn-primary" style="width:40%; margin-bottom: 3%; align-self: center" [routerLink]="['/home/login']" routerLinkActive="router-link-active">Back To Login</button>
    </div>
</div> -->

<div [style.display]="navBar ? 'block' : 'none' ">
    <app-navbar></app-navbar>
</div>
<div [ngClass]="RouterDisplay ">
    <router-outlet></router-outlet>
</div>
<div>
    <app-footer></app-footer>
</div>