body {
    background: -webkit-linear-gradient(left, #7069d8, #00c6ff);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 15%;
}


/* .register-left input {
    border: none;
    /* border-radius: 1.5rem; */


/* padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer; */


/*} */

.register-right {
    margin-top: 18%;
    margin-bottom: 10%;
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left img {
    margin-top: 10%;
    margin-bottom: 2%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btn {
    margin-top: 2px;
}


/* .btnLogin {
    float: center;
    border: none;
    background: #0062cc;
    border-radius: 0.5rem;
    margin-left: 20%;
    color: #fff;
    margin-bottom: 40px;
    cursor: pointer;
}

.btnRegister {
    float: center;
    border: none;
    background: #0062cc;
    border-radius: 0.5rem;
    margin-left: 30%;
    color: #fff;
    margin-bottom: 40px;
    cursor: pointer;
} */

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

body {
    margin: 0;
    height: 2000px;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}

.shu {
    padding: 9px;
    padding-top: 3px;
    background-color: #1da1f2;
    color: #fff;
    margin-right: 15px;
    text-align: center;
    transition: 0.3s;
}

.ankit {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.main {
    margin-left: 150px
}