<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="container register">
            <div class="row">
                <div class="col-md-3 register-left">
                    <img src="https://i0.wp.com/www.graphicsfuel.com/wp-content/uploads/2012/07/pencil-icon-512.png?resize=512%2C512" alt="" />
                    <h3>Welcome</h3>
                    <p>You are 30 seconds away from entering the app!</p>
                    <div style="margin-bottom: 10px; margin-top: 50% ">
                        <button type="button" (click)="facebookLogin()" style="background-color: blue" class="btn btn-tw shu">
                          <i class="fab fa-facebook-f ankit"></i>
                        </button>
                        <button type="button" (click)="twitterLogin()" class="btn btn-tw shu">
                          <i class="fab fa-twitter ankit "></i>
                        </button>
                        <button type="button" (click)="googleLogin()" style="background-color: red" class="btn btn-tw shu">
                          <i class="fab fa-google ankit "></i>
                        </button>
                        <button type="button" (click)="linkedinLogin()" style="background-color: rgb(90, 161, 167)" class="btn btn-tw shu">
                          <i class="fab fa-linkedin ankit"></i>
                        </button>
                    </div>
                </div>

                <div class="col-md-9 register-right">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Registration Page</h3>

                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Name</label>
                                        <input type="text" formControlName="name" placeholder=" Name *" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.name.errors }" />
                                        <div *ngIf="submitted && validate.name.errors" class="invalid-feedback">
                                            <div *ngIf="validate.name.errors.required"> Name is required</div>
                                            <div *ngIf="validate.name.errors.pattern">Enter valid name</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" formControlName="email" placeholder="Email *" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.email.errors }" />
                                        <div *ngIf="submitted && validate.email.errors" class="invalid-feedback">
                                            <div *ngIf="validate.email.errors.required">Email is required</div>
                                            <div *ngIf="validate.email.errors.email">Enter valid email</div>
                                        </div>
                                    </div>

                                </div>

                                <!-- --------------------------------------Right part-------------------- ------>

                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left: 2%">
                                        <label>Mobile Number</label>
                                        <input type="text" formControlName="phone" placeholder="Mobile Number *" minlength="10" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.phone.errors }" />
                                        <div *ngIf="submitted && validate.phone.errors" class="invalid-feedback">
                                            <div *ngIf="validate.phone.errors.required">Mobile number is required</div>
                                            <div *ngIf="validate.phone.errors.pattern">Enter valid Mobile number</div>
                                            <div *ngIf="validate.phone.errors.minlength">Mobile Number should be 10 digits</div>
                                            <div *ngIf="validate.phone.errors.maxlength">Mobile Number should be 10 digits</div>

                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-left: 2%">
                                        <label>Password</label>

                                        <show-hide-password btnStyle="primary" [btnOutline]="true">
                                            <input type="password" formControlName="password" data-toggle="tooltip" data-placement="top" title="Password should be mixed type and start with letters" placeholder="Password *" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.password.errors }">
                                        </show-hide-password>
                                        <small *ngIf="submitted && validate.password.errors" style="color: red">
                                            <span *ngIf="validate.password.errors.required">Password is required</span>
                                            <div *ngIf="validate.password.errors.minlength">Password should be 6 digits</div>
                                        </small>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" style="margin-left: 29%" class="btn btn-primary" value="Register" />
                            <a style="margin-left: 20%" class="btn btn-primary" routerLink="/home/login" value="Login">Login</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>