<div class="card">
    <div class="search">
        <input type="text" [(ngModel)]="searchText" placeholder="Search.." name="search">
    </div>
    <div class="container my-5">
        <div class="card-body">
            <h4 class="card-title">Advocate Details</h4>
        </div>

        <table class="table table-hover">
            <thead style="margin-bottom: 5px;margin-top: 5px">
                <tr>
                    <th style="text-align: center">#</th>
                    <th style="text-align: center"> Name </th>
                    <th style="text-align: center">Email </th>
                    <th style="text-align: center">Office Address </th>
                    <th style="text-align: center">Mobile Number</th>
                    <th style="text-align: center">Skills </th>
                    <th style="text-align: center">Action</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let data of advocateData  | filter:searchText ; index as i">
                    <td>{{i+1}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.officeAddress}}</td>
                    <td>{{data.phoneNo}}</td>
                    <td>{{data.advocateskills}}</td>
                    <td><button class="btn btn-success" [routerLink]="['/editAdvocate',data._id]" routerLinkActive="router-link-active">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="deleteAdvocateRecord(data._id)">delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ngx-loading [show]="loading " [config]="{primaryColour: '#006ddd', secondaryColour: 'yellow', tertiaryColour: '#006ddd', backdropBorderRadius: '3px' } " [template]="template "></ngx-loading>