<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">


<div class="sidebar-menu" style="padding-top: 0%;background-color: #000; transition: left 0.3s ease, right 0.3s ease;">


    <div class="menu" style="background-color: #000 ;">
        <!-- <div><img  class="logo" [src]="imageUrl">
                  </div> -->
        <br>
        <ul id="menu">
            <li><img class="logoa" [src]="imageUrl"> <br> <span style="color: #ffd700"> </span>
            </li>
            <li style="text-align: center; color: #ffd700">
                <h5> {{profile.name}}</h5>
            </li>
        </ul>
        <ul id="menu">

            <!-- <li id="menu-home"  *ngFor="let item of sideMenu ;index as i" ><a href="{{item.rougth}}" ><i class="{{item.class}}"></i><span> {{item.menu}} </span></a></li> -->

            <li id="menu-comunicacao" *ngFor="let item of sideMenu ;index as i"><a href="{{item.rougth}}"><i class="{{item.class}}"></i><span> 
                {{item.menu}}</span>
        <span *ngIf="item.subMenuStatus" class="fa fa-angle-right" style="float: right"></span> 
       </a>
                <ul *ngIf="item.subMenuStatus" id="menu-comunicacao-sub">
                    <li *ngFor="let subMenu of sideMenu[i].subMenu ;index as i"> <a href="{{subMenu.rougth}}"><i class="{{item.class}}"></i> 
                        {{subMenu.menu}}</a></li>
                </ul>
        </ul>
    </div>
</div>