/* 
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;} */

p {
    margin: 0;
}

.logoa {
    width: 45%;
    border-radius: 50%;
    margin-top: 0%;
    margin-left: 27%;
    align-items: center
}

html,
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
    background: #fff;
}

a:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-decoration: none;
}

.sidebar-menu {
    position: absolute;
    float: left;
    width: 220px;
    top: 0px;
    left: 0px;
    bottom: 0;
    background-color: #202121;
    color: #aaabae;
    z-index: 999;
    /* transition: left 0.3s ease, right 0.3s ease; */
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#menu li {
    position: relative;
    margin: 0;
    font-size: 13px;
    padding: 0;
}

#menu li ul {
    opacity: 0;
    height: 0px;
}

#menu li a {
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #FFFFFF;
    white-space: nowrap;
    z-index: 2;
    font-size: 1.12em;
    font-family: 'Carrois Gothic', sans-serif;
}

#menu li a:hover {
    color: #fdbb30;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

#menu li.active>a {
    background-color: #2b303a;
    color: #ffffff;
}

#menu ul li {
    background-color: #202121;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: 20px;
    background-color: #2b303a;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s linear;
    border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menu li:hover>ul {
    visibility: visible;
    opacity: 1;
}

#menu li li ul {
    right: 100%;
    visibility: hidden;
    top: -1px;
    opacity: 0;
    transition: opacity 0.1s linear;
}

#menu li li:hover ul {
    visibility: visible;
    opacity: 1;
}

#menu .fa {
    margin-bottom: 10px;
    font-size: 1.5em;
    display: block;
}

.menu {
    padding: 4.2em 0em 0em 0em;
}

.logo {
    width: 22%;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: 170px;
}

.sidebar-icon {
    position: relative;
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    color: #FFF;
    background-clip: padding-box;
    background: #68AE00;
}

.sidebar-icon:hover {
    color: #FFF;
}

.fa-html5 {
    color: #fff;
    margin-left: 50px;
}

.logo-name {
    float: left;
    width: 50%;
    margin: 0% 3% 0% 2%;
}

.logo-name h1 {
    font-size: 2.5em;
    color: #FC8213;
    margin: 0em;
    font-weight: 700;
    text-decoration: none;
}

.logo-name h1 a {
    color: #910048;
}

.logo-name a {
    display: inline-block;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: none !important;
}

span.logo-clr {
    color: #fdbb30;
}

::-webkit-input-placeholder {
    color: #7A7B78 !important;
}

.nostripes>span>span,
.nostripes>span:after {
    background-image: none;
}


/*--prices end here--*/

.nostripes>span>span,
.nostripes>span:after {
    background-image: none;
}


/*--prices end here--*/


/*--meadia quiries start here--*/
@media (max-width:1800px){
    .sidebar-menu {      
        position:fixed;
    }
} 
@media (max-width:1440px) {
    .logoa {
        width: 40%
    }
    .sidebar-menu {
        width: 190px;
        position:fixed;
    }
    .logo {
        left: 130px;
    }
}

@media (max-width:1366px) {
    .logoa {
        width: 40%;
    }
}

@media (max-width:1280px) {
    .logoa {
        width: 50%;
    }
}

@media (max-width:1024px) {
    .logoa {
        width: 50%;
    }
}

@media (max-width:991px) {
    .logo {
        width: 125px
    }
    .market-update-gd {
        float: left;
        width: 33%;
        text-align: center;
    }
    .sidebar-menu {
        position: fixed;
    }
}

@media (max-width:768px) {
    .logoa {
        width: 50%;
    }
    .sidebar-menu {
        position: absolute;
        float: left;
        width: 170px;
    }
    .fixed {
        width: 92%;
    }
    #menu li a {
        padding: 20px 20px;
        text-align: left !important;
    }
    #menu .fa {
        margin-bottom: 9px;
    }
    .logo {
        left: 16px;
    }
    /* 
			.page-container.sidebar-collapsed-back #menu span{
			  display:none;
			}
			.page-container.sidebar-collapsed #menu span {
					opacity: 1;
					transition: all 50ms linear;
					 display:block;
					
				} */
    #menu span {
        opacity: 0;
        transition: all 50ms linear;
        display: block;
    }
    span.fa.fa-angle-right,
    span.fa.fa-angle-double-right {
        right: 12px!important;
    }
    .sidebar-menu {
        width: 65px;
        transition: all 100ms ease-in-out;
        transition-delay: 300ms;
        margin-top: 50px;
    }
}

@media (max-width:736px) {
    canvas#line {
        width: 259px !important;
    }
    canvas#pie {
        width: 264px !important;
    }
}

@media (max-width:667px) {}

@media (max-width:640px) {}

@media (max-width:600px) {}

@media (max-width:568px) {}

@media (max-width:480px) {}

@media (max-width:414px) {}

@media (max-width:384px) {}

@media (max-width:375px) {}

@media (max-width:320px) {
    .sidebar-menu {
        width: 45px;
    }
    .logo {
        left: 7px;
    }
    .page-container.sidebar-collapsed .logo {
        left: 7px;
    }
    #menu li a {
        padding: 15px 10px;
        font-size: 1em;
    }
    ul.dropdown-menu {
        min-width: 195px;
    }
}

.navbar-collapse {
    overflow: hidden;
}