<div class="main">
    <div class="card">

        <div class="header">
            <h3>New Advocate Entry
            </h3>
        </div>

        <div class="container">
            <form [formGroup]="advocateForm" class="form-horizontal">

                <div class="form-group form-group-sm">
                    <!-- left column -->
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for=" Name" class="col-sm-2 control-label">  Name</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="name" placeholder="Name *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                    <div *ngIf="f.name.errors.pattern">Enter valid Last Name</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="mobNumber" class="col-sm-2 control-label">Mobile Number</label>
                            <div class="col-sm-10 ">
                                <div class="input-group">
                                    <input type="text" formControlName="phoneNo" placeholder="Mobile Number *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }" />
                                    <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                                        <div *ngIf="f.phoneNo.errors.required">Mobile Number is required</div>
                                        <div *ngIf="f.phoneNo.errors.pattern">Enter valid Mobile Number</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="skills" class="col-sm-2 control-label">Skills</label>
                            <div class="col-sm-10 ">
                                <div class="input-group" [ngClass]="{'has-error': advocateForm.get('advocateskills').errors 
                                && (advocateForm.get('advocateskills').touched || advocateForm.get('advocateskills').dirty)}">
                                    <tag-input (onAdd)="addSkills($event.value)" id="skills" formControlName="advocateskills" (onRemove)="removeSkills($event.value)"></tag-input>
                                    <div *ngIf="skillsError" class="help-block">
                                        <div class="text-danger">Minimum Two skills required</div>
                                    </div>
                                    <div class="help-block" *ngIf="advocateForm.get('advocateskills').errors && (advocateForm.get('advocateskills').touched || advocateForm.get('advocateskills').dirty)">

                                        <div class="text-danger" *ngIf=" advocateForm.get('advocateskills').errors.required">
                                            Skills Required
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- right column -->
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10 ">
                                <div class="input-group ">
                                    <input type="text" formControlName="email" placeholder="Email *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Enter valid Email</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="officeAddress" class="col-sm-2 control-label ">Office Address</label>
                            <div class="col-sm-10">
                                <textarea cols="2" class="form-control" formControlName="officeAddress" id="officeAddress" [ngClass]="{ 'is-invalid': submitted && f.officeAddress.errors }"></textarea>
                                <div *ngIf="submitted && f.officeAddress.errors" class="invalid-feedback">
                                    <div *ngIf="f.officeAddress.errors.required">Required Field</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Submit data -->
                    <div class="form-group form-group-sm ">
                        <div class="col-sm-2 col-sm-offset-5 ">
                            <button type="button " class="btn btn-primary " id="new_submit " (click)="submit() ">Create Record</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="template"></ngx-loading>l