<header>

    <div class="header-content">
        <div class="header-content-inner">
            <section class="menu" style="display: inline ; text-align: center ; color: #fff">

                <label class="labelCss" style="width: 100% ; ">
            <a class="btn btn-full " style="margin-left: 15px ; ">
              <h4>Running <br>cases <br>{{countData.total}}</h4>
              <p>You have <br>{{countData.total}} total Running<br>  cases. Whoohoo! </p> 
            </a>
  
            <a class="btn btn-full" style="margin-left: 15px">
              <h4>Today's <br> cases <br>{{countData.today}}</h4>
              <p>You have <br>{{countData.today}} cases scheduled <br>for today.</p>
            </a>
  
            <a class="btn btn-full"  style="margin-left: 15px" >
              <h4>Tomorrow's <br> cases<br>{{countData.tomorrow}}</h4>
              <p>You have<br> {{countData.tomorrow}} cases scheduled <br>for tomorrow.</p>
            </a>
  
            <a class="btn btn-full"   style="margin-left: 15px" >
              <h4>Month <br> cases<br> {{countData.monthly}}</h4>
              <p>You have <br>{{countData.monthly}} cases scheduled <br>for Month.</p>
            </a>
           <a class="btn btn-full"   style="margin-left: 15px" >
              <h4>Decided <br> cases<br>0</h4>
              <p>Your have <br> 0 cases in decided <br> so far.</p>
            </a>
          
  
  </label>


            </section>
        </div>
    </div>
</header>




<section>
    <div>
        <a class="btn d card" style="color: #000 ; ">
            <h5>DATE AWAITED CASES</h5>
        </a>

        <a class="btn d card " style="color: #000; ">
            <h5>DECIDED CASES</h5>
        </a>

        <a class="btn d card " style="color: #000 ">
            <h5>COMPANY CASES </h5>
        </a>

        <a class="btn d card" style="color:#000; ">
            <h5>DIARY STATISTICS
            </h5>

            <i class="fas fa-book" style='margin-right:20px; color: #000; font-size: 25px'></i>
            <div>
                <p> Running  <a class="btn  mediaCssBtn" style="background-color: darkblue;color: #fff"> {{countData.total}} </a> </p>

                <p> today <a class="btn  mediaCssBtn" style="background-color: brown;color: #fff"> {{countData.today}} </a> </p>

                <p>tomorrow <a class="btn  mediaCssBtn" style="background-color: darkmagenta;color: #fff"> {{countData.tomorrow}} </a></p>
            </div>
        </a>

        <a class="btn d card " style="color: #000; ">
            <i class="fas fa-user-check" style='margin-right:0px; color: #000; font-size: 40px'> </i>
            <h5>LAST LOGGED IN</h5>
            <p> {{ today | date }} </p>
        </a>

        <a class="btn d card" style="color: #000;">
            <h5> INDAIN BARE ACTS </h5>
        </a>
    </div>
</section>
<!-- <div align="center" style="background-color: rgb(155, 233, 230) ;height: 30px; margin-top: 10px">
      <p align="center"> 
        <font size="3" color="black">
          Copyright © 10212/2019-CO/SW - Legal Diary </font>
      </p>
    </div> -->