div.card {
    width: 29%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

header {
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../../../assets/office);
    /* height: 70vh;  */
    background-size: cover;
    background-position: center;
    width : 100%;

    }
    .btn{
        color:#000;
        background-color: #f6f5f463;
   
    }
    .btn:link,
    .btn:visited{
 

 display: inline-block ;
 font-weight: 300; 
 text-decoration: none; 
 border-radius: 200px; 
 border-color: #e67e22
 
 
    }

    .d{      
      
        margin-top: 3%;
        margin-left: 3%;
        padding: 3%;
        border-radius: 25px
    }

    .d:link,
    .d:visited{
        background-color:#fff;
    }
    
    .d:hover,
    .d:active{
     color:#fff;
     background-color: #22212e8e
 
    }
    .mediaCssBtn{
        color: #fff ;
        /* padding: 2px 5px ; */
         border-radius: 20px;
         margin-left: 10%
    }
    .btn-full:link,
    .btn-full:visited{
        color: #fff;
         background-color: #1f1b18;
         border-color: #e67e22
    }
 
    .btn-full:hover,
    .btn-full:active{
     color:#fff;
     background-color: #7069d8
 
    }
   
   
    .col-sm-4{
width: 33.33%;
height: 250px;
    }
    /* .rowcol{


    }
    .span-1-of-3{

  */
  .labelCss{
    height: 400px;
   }

   .row{
        margin-left: 2Px; 
        margin-right: 2px; 
    } 
    .col{
        height: 250px;
        width: 100px;
        padding: 20px;
        border-color: #18120d;
        border : 100px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    
    /* media Section */
    @media (max-width:1800px){
        .labelCss{
            height: 400px;
           }
           .btn-full{
            width: 14%;
            margin-top: 10%;
           }
           .d{
            width: 29%; 
        height: 234px;
    }
    }

@media (max-width:1440px){
    .labelCss{
     height: 350px;
    }
    .btn-full{
     width: 14%;
     margin-top: 10%;
    }
    .mediaCssBtn{
      
        padding: 2px 5px ; 
         
    }
    .d{
            width: 29%; 
        height: 234px;
    }
    .header{
        height: 700px;
    }
}
@media (max-width:1366px){
    .labelCss{
        height: 400px;
       }
    .btn-full{
        width: 15%;
        margin-top: 10%;
       }
       .header{
        height: 700px;
       }
}
@media (max-width:1280px){
    .labelCss{
        height: 500px;
       }
    .btn-full{
      margin: 0%;  
      width: 15%;
        margin-left: 2%;
        margin-top: 10%;
       }
       .header{
        height: 600px;
       }
       .mediaCssBtn{
      
        padding: 1px 2px ; 
         
    }
}
@media (max-width:1024px){
    .btn-full{
   margin-top: 10px;
        width: 25%;;
        margin-top: 10%;
       }
     
       .header{
        height: 650px;
        margin-top: 30%
    }
       .d{
        width:  40%; 
       height: 250px;
}
.labelCss{
    height: 550px;
   }
}
@media (max-width:991px){
    .btn-full{
        width: 25%;;
        
       }
       .mediaCssBtn{
      
        padding: 0px 0px ; 
         
    }
    .header{
        height: 100px;
    }
}
@media (max-width:768px){
    .btn-full{
        width: 30%;;
        margin-top: 20%
       }
       .d{
        width:   40%; 
    height: 280px;
}
}
@media (max-width:736px){}
@media (max-width:667px){
    .labelCss{
        height: 850px;
       }
    .btn-full{
        width: 33%;;
       }
       .d{
        width: 40%; 
    height: 280px;
}
}
@media (max-width:600px){}
@media (max-width:568px){
    .btn-full{
        width: 45%;

        margin-top: 30%
       }
       .d{
        width: 80%; 
    height: 280px;
}
.labelCss{
    height: 900px;
   }
}
@media (max-width:480px){
    .btn-full{
        width: 45%;
        margin-top: 35%
       }
       .labelCss{
        height: 1200px;
        margin-top: 20%
       }
}
@media (max-width:414px){
    .btn-full{
        width: 50%;
        margin-top: 20%
       }
}
@media (max-width:384px){}
@media (max-width:375px){}
@media (max-width:320px){}
