<main>
    <div class="card">
        <div class="search">
            <input type="text" [(ngModel)]="searchText" placeholder="Type to filter by name">

        </div>
        <div class="container my-5 ">
            <div class="card-body ">
                <h4 class="card-title ">Client Details</h4>
            </div>

            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th scope="col ">Number</th>
                        <th scope="col ">Name</th>
                        <th scope="col ">Email</th>
                        <th scope="col ">Address</th>
                        <th scope="col ">Mobile Number </th>
                        <th scope="col ">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of clientData | filter:searchText; index as i ">
                        <td>{{i+1 }}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.address}}</td>
                        <td>{{data.phoneNo}}</td>
                        <td><button class="btn btn-primary " [routerLink]="[ '/customer/edit',data._id] "><span class="glyphicon glyphicon-pencil"></span></button></td>
                        <td><button class="btn btn-primary " (click)="deleteClient(data._id) "><span class="glyphicon glyphicon-trash"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>


<ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="template "></ngx-loading>