body {
    padding: 20px 20px;
}

.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: #ccc;
}

div.card {
    width: 97%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 2%;
}

.theading {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center
}

.mainHead {
    padding-left: 20px;
    padding-bottom: 10px
}

.search {
    width: 20%;
    margin-left: 79%;
    margin-top: 10px;
}