<div style="padding-left: 20px; padding-right: 20px ;padding-top: 20px;padding-bottom: 20px">
    <div class="card">

        <div style="padding-bottom: 40px; text-align: left; padding-left: 20px">
            <h3> Customer Entry
            </h3>
        </div>

        <div class="container">
            <form [formGroup]="customerForm" class="form-horizontal">

                <div class="form-group form-group-sm">
                    <!-- left column -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label"> Name
                                    </label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name *" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                    <div *ngIf="f.name.errors.pattern">Enter valid Name</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label"> Email</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email *" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Enter valid Email</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- right column -->
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="phoneNo" class="col-sm-2 control-label">Mobile Number </label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" formControlName="phoneNo" class="form-control" id="phoneNo" placeholder="Mobile Number *" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }">
                                    <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                                        <div *ngIf="f.phoneNo.errors.required">Mobile Number is required</div>
                                        <div *ngIf="f.phoneNo.errors.pattern">Enter valid Mobile Number</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">Address</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" id="address" formControlName="address" name="address" placeholder="Address *" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"> </textarea>
                                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                    <div *ngIf="f.address.errors.required">Address is required</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Submit data -->
                <div class="form-group form-group-sm">
                    <div class="col-sm-2 col-sm-offset-5">
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Create New Case Record" id="new_submit" (click)="submit()">Create Record</button>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
<ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="template "></ngx-loading>