<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<div class="card">



    <div class="container my-5">
        <div class="search">
            <!-- <input type="text" [(ngModel)]="searchText" class="search" placeholder="Type to filter by name"> -->
            <input type="text" [(ngModel)]="searchText" placeholder="Search.." class="input-res" name="search">
            <!-- <button> <i class="fa fa-search"></i></button> -->
        </div>
        <div class="card-body">
            <h4 class="card-title">Case Details</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Case Id</th>
                        <th scope="col">Case Name </th>
                        <th scope="col">Case Type</th>
                        <th scope="col">Opposite Party </th>
                        <th scope="col">Edit</th>
                        <th scope="col">Add Date</th>
                        <th scope="col"> Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of caseData | filter:searchText; index as i">
                        <td>{{i+1 }}</td>
                        <td>{{data.caseId}}</td>
                        <td>{{data.caseName}}</td>
                        <td>{{data.caseType}}</td>
                        <td>{{data.oppositeParty}}</td>
                        <td> <button class="btn btn-primary buttons" [routerLink]="['/case/edit',data._id]"><span  class="glyphicon glyphicon-pencil"></span></button></td>
                        <td><button class="btn btn-primary buttons"><span class="glyphicon glyphicon-calendar" (click)="openModal(data._id,data.clientId,template)"></span>
                    </button>
                        </td>
                        <td><button class="btn btn-primary buttons" (click)="deleteCase(data._id)"> <span class="glyphicon glyphicon-trash"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- modal -->


</div>
<ng-template #template>
    <div class="modal-header">
        <h2 class="modal-title pull-left">Case Review</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="container" style="margin-top: 15px">
        <form [formGroup]=reviewForm>
            <div>
                <div class=" col-sm-6 ">
                    <label for="date ">Next Date</label>
                    <input type="text" formControlName="nextDate" placeholder="Datepicker " class="form-control " bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue'}" [bsValue]="myDateValue" [minDate]="minDate">
                </div>
                <div formGroupName="review" class="col-sm-6 ">
                    <label for="review ">Remark:</label>
                    <textarea type="text" formControlName="remark" class="form-control " id="remark " placeholder="Enter Remark " name="remark "></textarea>
                </div>
                <button type="submit " (click)="submit()" style="margin-bottom: 8px; margin-top: 30px " class="btn btn-success ">Submit</button>


            </div>
        </form>
    </div>

</ng-template>
<ngx-loading [show]="loading " [config]="{primaryColour: '#006ddd', secondaryColour: 'yellow', tertiaryColour: '#006ddd', backdropBorderRadius: '3px' } " [template]="template "></ngx-loading>