body {
    padding: 20px 20px;
}

.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: #ccc;
}

div.card {
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
}

.theading {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center
}

.mainHead {
    padding-left: 20px;
    padding-bottom: 10px
}

.container {
    width: 100%;
    float: left;
    text-align: center;
}

#btn1 {
    float: left;
}

#btn3 {
    float: right;
}

div {
    text-align: center;
}

span:first-child {
    float: left;
}

span:last-child {
    float: right;
}

span:hover {
    color: black;
}

.card-title {
    margin-top: -34px;
}

.search {
    width: 20%;
    margin-left: 79%;
    margin-top: 10px;
}

.glyphicon {
    color: gold
}

.buttons {
    background-color: black;
    border: 1px;
    /* padding: 2px 6px; */
}

.input-res {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}