<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://img.icons8.com/ios-filled/50/000000/key.png" alt="" />
                <h3>Welcome</h3>
                <p>You are 30 seconds away from earning your own money!</p>
                <div style="margin-bottom: 10px; margin-top: 50% ">
                    <button type="button" (click)="facebookLogin()" style="background-color: blue" class="btn btn-tw shu">
                          <i class="fab fa-facebook-f ankit"></i>
                        </button>
                    <button type="button" (click)="twitterLogin()" class="btn btn-tw shu">
                          <i class="fab fa-twitter ankit "></i>
                        </button>
                    <button type="button" (click)="googleLogin()" style="background-color: red" class="btn btn-tw shu">
                          <i class="fab fa-google ankit "></i>
                        </button>
                    <button type="button" (click)="linkedinLogin()" style="background-color: rgb(90, 161, 167)" class="btn btn-tw shu">
                          <i class="fab fa-linkedin ankit"></i>
                        </button>
                </div>
            </div>

            <div class="col-md-9 register-right">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Reset Password Page</h3>

                        <div class="row register-form" style="margin-left:30%; text-align: center ;margin-top: 10%;">

                            <form id="register-form" [formGroup]="resetPasswordForm" role="form" autocomplete="off" class="form" method="post">

                                <div class="form-group">
                                    <div class="input-group" [ngClass]="{'has-error': resetPasswordForm.get('password').errors 
                                      && (resetPasswordForm.get('password').touched || 
                                        resetPasswordForm.get('password').dirty  )}">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <show-hide-password btnStyle="primary" [btnOutline]="true">
                                            <input id="password" name="password" formControlName="password" placeholder="password " class="form-control" type="password">
                                        </show-hide-password>
                                    </div>
                                    <span class="help-block" *ngIf="resetPasswordForm.get('password').errors && (resetPasswordForm.get('password').touched || resetPasswordForm.get('password').dirty)">
    
                                            <small class="text-danger" *ngIf="resetPasswordForm.get('password').errors">
                                                This Field Is Required
                                            </small>
                                        </span>


                                </div>


                                <div class="form-group">
                                    <div class="input-group" [ngClass]="{'has-error': resetPasswordForm.get('confirmedPassword').errors 
                                          && (resetPasswordForm.get('confirmedPassword').touched || 
                                            resetPasswordForm.get('confirmedPassword').dirty  )}">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <show-hide-password btnStyle="primary" [btnOutline]="true">
                                            <input id="confirmedPassword" name="confirmedPassword" formControlName="confirmedPassword" placeholder="confirmedPassword " class="form-control" type="password">
                                        </show-hide-password>
                                    </div>
                                    <span class="help-block" *ngIf="resetPasswordForm.get('confirmedPassword').errors && (resetPasswordForm.get('confirmedPassword').touched || resetPasswordForm.get('password').dirty)">
    
                                            <small class="text-danger"
                                                *ngIf="resetPasswordForm.get('confirmedPassword').errors">
                                                This Field Is Required
                                            </small>
                                        </span>


                                </div>



                                <div class="form-group">
                                    <input name="recover-submit" (click)="submit()" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>