<div style="padding-left: 20px; padding-right: 20px ;padding-top: 20px;padding-bottom: 20px">

    <div class="card">
        <div style="padding-bottom: 40px; text-align: left; padding-left: 20px">
            <h3> Create New Case
            </h3>
        </div>


        <div class="container">
            <form [formGroup]="caseForm" class="form-horizontal">

                <div class="form-group form-group-sm">
                    <!-- left column -->
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for=" caseId" class="col-sm-2 control-label"> Case Id </label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="caseId" placeholder="Case Id *" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.caseId.errors }">
                                <div *ngIf="submitted && validate.caseId.errors" class="invalid-feedback">
                                    <div *ngIf="validate.caseId.errors.required">CaseId is required</div>
                                    <div *ngIf="validate.caseId.errors.pattern">Enter valid Case Id</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="caseName" class="col-sm-2 control-label"> Case Name</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="caseName" class="form-control" id="caseName" placeholder="Case Name" [ngClass]="{ 'is-invalid': submitted && validate.caseId.errors }">
                                <div *ngIf="submitted && validate.caseId.errors" class="invalid-feedback">
                                    <div *ngIf="validate.caseName.errors.required">Case Name is required</div>
                                    <div *ngIf="validate.caseName.errors.pattern">Enter valid Case Name</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Court Number" class="col-sm-2 control-label">Court</label>
                            <div class="col-sm-10">
                                <input formControlName="courtId" id="courtId" [typeahead]="courtNameArray" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.courtId.errors }">
                                <div *ngIf="submitted && validate.caseId.errors" class="invalid-feedback">
                                    <div *ngIf="validate.courtId.errors.required">Court Name is required</div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Court Number" class="col-sm-2 control-label">Client Name</label>
                            <div class="col-sm-10">
                                <input formControlName="clientId" id="clientId" [typeahead]="clientNameAndPhoneNumberArray" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.clientId.errors }">
                                <div *ngIf="submitted && validate.clientId.errors" class="invalid-feedback">
                                    <div *ngIf="validate.clientId.errors.required">Client Name is required</div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- right column -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="caseType" class="col-sm-2 control-label">Type of Case</label>
                            <div class="col-sm-10">
                                <input type="text" id="caseType" formControlName="caseType" class="form-control" placeholder="Case Status" [ngClass]="{ 'is-invalid': submitted && validate.caseType.errors }">
                                <div *ngIf="submitted && validate.caseType.errors" class="invalid-feedback">
                                    <div *ngIf="validate.caseType.errors.required">Case Type is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="caseStatus" class="col-sm-2 control-label">Case Status</label>
                            <div class="col-sm-10">
                                <input type="text" id="caseStatus" formControlName="caseStatus" class="form-control" placeholder="Case Status" [ngClass]="{ 'is-invalid': submitted && validate.caseStatus.errors }">
                                <div *ngIf="submitted && validate.caseStatus.errors" class="invalid-feedback">
                                    <div *ngIf="validate.caseStatus.errors.required">Case status is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Oposite_party" class="col-sm-2 control-label">Next Date</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="nextDate" placeholder="Datepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue'}" [minDate]="minDate" class=" form-control " bsDatepicker [ngClass]="{ 'is-invalid': submitted && validate.nextDate.errors }">
                                <div *ngIf="submitted && validate.nextDate.errors" class="invalid-feedback">
                                    <div *ngIf="validate.nextDate.errors.required">Next date is required</div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="Oposite_party " class="col-sm-2 control-label ">Opposite Party</label>
                            <div class="col-sm-10 ">
                                <div class="input-group" [ngClass]="{'has-error': caseForm.get('oppositeParty').errors 
                                    && (caseForm.get('oppositeParty').touched || caseForm.get('oppositeParty').dirty)}">
                                    <tag-input (onAdd)="addOppositePartyNames($event.value) " formControlName="oppositeParty" id="skills " (onRemove)="removeOppositePartyNames($event.value) ">
                                    </tag-input>
                                    <div class="help-block" *ngIf="caseForm.get('oppositeParty').errors && (caseForm.get('oppositeParty').touched || caseForm.get('oppositeParty').dirty)">

                                        <div class="text-danger" *ngIf=" caseForm.get('oppositeParty').errors.required">
                                            Opposite party Names Required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Submit data -->
                <div class="form-group form-group-sm ">
                    <div class="col-sm-2 col-sm-offset-5 ">
                        <button type="button " class="btn btn-primary " data-toggle="tooltip " data-placement="right " title="Create New Case Record " id="new_submit " (click)="submit() ">Create Record</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End container div -->



    </div>
</div>


<!-- <div class="row">
    <div class="col-md-12">

        <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
    </div>
</div> -->
<ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="template "></ngx-loading>