<div style="padding-left: 20px; padding-right: 20px ;padding-top: 20px;padding-bottom: 20px">

    <div class="card">
        <div style="padding-bottom: 40px; text-align: left; padding-left: 20px">
            <h3> Add User
            </h3>
        </div>


        <div class="container">
            <form [formGroup]="userForm" class="form-horizontal">

                <div class="form-group form-group-sm">
                    <!-- left column -->
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label"> Name </label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="name" placeholder="Name *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                    <div *ngIf="f.name.errors.pattern">Name valid Case Id</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phoneNo" class="col-sm-2 control-label"> Mobile No</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="phoneNo" class="form-control" id="caseName" placeholder="Mobile No * " [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }">
                                <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.phoneNo.errors.required">Mobile Number is required</div>
                                    <div *ngIf="f.phoneNo.errors.pattern">Enter valid Mobile Number</div>
                                    <div *ngIf="f.phoneNo.errors.minLength">Mobile Number is 10 Digit</div>
                                    <div *ngIf="f.phoneNo.errors.maxLength">Mobile Number is 10 Digit</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label"> Email</label>
                            <div class="col-sm-10">
                                <input type="email" formControlName="email" class="form-control" id="caseName" placeholder="Email * " [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.pattern">Enter valid Email </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                                <label for="Court Number" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input [(ngModel)]="courtId" formControlName="courtId" (change)="selectCourtId($event.target.value)" [typeahead]="courtNameArray" class="form-control">
                                </div>
                            </div>-->

                    </div>
                    <!-- right column -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" id="caseType" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="conformPassword" class="col-sm-2 control-label"> conform password </label>
                            <div class="col-sm-10">
                                <input type="test" id="caseStatus" formControlName="conformPassword" class="form-control" placeholder="Password *" [ngClass]="{ 'is-invalid': submitted && f.conformPassword.errors }">
                                <div *ngIf="submitted && f.conformPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.conformPassword.errors.required">Password is required</div>
                                </div>
                                <div *ngIf="passwordMatch"  > <p style="color: red">Password not match<p></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Oposite_party" class="col-sm-2 control-label">Permission</label>
                            <div class="col-sm-10">
                                <!-- <input type="text" id="Oposit_party" formControlName="oppositeParty" class="form-control" placeholder="Oposite Party"> -->

                                <tag-input (onAdd)="addOppositePartyNames($event.value)" formControlName="permissions" id="skills" (onRemove)="removeOppositePartyNames($event.value)"></tag-input>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Submit data -->
                <div class="form-group form-group-sm">
                    <div class="col-sm-2 col-sm-offset-5">
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Create New Case Record" id="new_submit" (click)="submit()">Create Record</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
<ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="template "></ngx-loading>