<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>

    <div class="container register">
        <div class="row">
            <div class="col-md-5 register-left">
            </div>
            <div class="col-md-3 register-left">
                <img src="https://cdn.iconscout.com/icon/free/png-512/notification-error-827051.png" alt="" />
                <h3>404 Error</h3>
                <p>Page Not Found!</p>
                <div class="form-group">
                    <a class="btn btn-link" style="color: antiquewhite" [routerLink]="['/home/login']">Back to Login</a>
                </div>
            </div>
        </div>
    </div>

</body>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>