<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #7069d8; margin-left: 0%">
    <div class="name borderXwidth">
        <h6 class="heading"> <b> 
                 <a  class="sidebar-icon tp"  (click)="navBarDisplay()"> <span class="fa fa-bars tp"  > </span> </a> 
                 LEGAL DIARY </b> </h6>

        <ul class="nav navbar-right top-nav " style="margin-top: -2%;">

            <li class="nav-item  " style="margin-right: 41px">
                <a href="" class="hb"> <i class="fas fa-envelope " style='margin-top:0%; margin-right:px;  font-size: 20px'></i> </a>
            </li>
            <li class="nav-item "> <a href="https://www.youtube.com/watch?v=PTpOS7z_r7Q" class="hb"><i class="fas fa-question-circle "style='margin-right:00px;  font-size: 13px ;'><b> Help</b> </i></a> &nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item">
                <a href="" class=" hb"> <i class="fas fa-search" style='margin-right:00px;  font-size: 13px'>&nbsp;&nbsp; <b> Search </b></i> </a> &nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item"> <a href="" class=" hb"><i class="far fa-calendar-alt" style='margin-right:00px; font-size: 13px'> &nbsp; <b class="b">{{ today | date }}</b> </i> </a> &nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item "><a href="" class=" hb"><i class="fab fa-android" style='margin-right:00px; font-size: 13px' > <b> Download App </b>  </i></a> </li>
            <li class=" nav-item"> <a href="" class=" hb" (click)="logout()" align="left" style='margin-right:00px;  font-size: 13px'>&nbsp; <b>Logout</b> &nbsp;</a> &nbsp;&nbsp;&nbsp;</li>
        </ul>
    </div>
</nav>