/* .ss{
background-image: url("../../../assets/bg1.jpeg");
} */


/* .btn-outline-secondar {
    /* color: #fff */

.sidebar-icon {
    font-size: 20px;
}

.tp {
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.tp.fas:link,
.tp.fas:visited {
    color: #000;
}

.tp:hover,
.tp:active {
    color: #fdbb30;
    background-color: #000;
}

.hb {
    /* padding-left: 2.5px;
    padding-right: 2.5px; */
    padding: 2px 6px;
    /* margin-right: 3px; */
    color: #fff;
    /* margin-right: 28px; */
}

.hb.fas:link,
.hb.fas:visited {
    /* color: #fff; */
    background-color: #7069d8
}

.hb:hover,
.hb:active {
    color: #7069d8;
    /* background-color: #fff; */
}

.name {
    width: 100%;
}

.heading {
    margin-left: 0%;
    color: #fff;
    font-size: 20px;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media (max-width:1800px) {
    .hb {
        margin-right: 10px
    }
}

@media (max-width:1024px) {
    .name {
        margin-left: 0%;
        width: 100%;
    }
    .heading {
        margin-left: 4%;
        color: #fff;
        font-size: 20px;
    }
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
    @media (max-width:1024px) {
        .name {
            margin-left: 0%;
            width: 100%;
        }
        .hb {
            margin-right: 10px
        }
    }
    @media(min-width:768px) {
        body {
            margin-top: 50px;
        }
        .hb {
            margin-right: 10px
        }
        /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
    }
    #wrapper {
        padding-left: 0;
    }
    #page-wrapper {
        width: 100%;
        padding: 0;
        /* background-color: #fff; */
    }
    @media(min-width:768px) {
        #wrapper {
            padding-left: 10%;
        }
        #page-wrapper {
            padding: 22px 10px;
        }
        .hb {
            padding: 0px;
            margin: 0px;
            margin-right: 0px;
        }
    }
    /* Top Navigation */
    .top-nav {
        padding: 0 15px;
    }
    .top-nav>li {
        display: inline-block;
        /* float: left; */
    }
    .top-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 20px;
        /* color: #fff; */
    }
    .top-nav>li>a:hover,
    .top-nav>li>a:focus,
    .top-nav>.open>a,
    .top-nav>.open>a:hover,
    .top-nav>.open>a:focus {
        /* color: #fff; */
        background-color: #2f2d1a;
    }
    .top-nav>.open>.dropdown-menu {
        float: left;
        position: absolute;
        margin-top: 0;
        /*border: 1px solid rgba(0,0,0,.15);*/
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        /* background-color: #fff; */
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    .top-nav>.open>.dropdown-menu>li>a {
        white-space: normal;
    }
    /* Side Navigation */
    @media(min-width:768px) {
        .side-nav {
            position: fixed;
            top: 65px;
            left: 19%;
            width: 15%;
            margin-left: -19%;
            border: none;
            border-radius: 0;
            border-top: 1px rgba(0, 0, 0, .5) solid;
            overflow-y: auto;
            background-color: rgb(63, 58, 58);
            /*background-color: #5A6B7D;*/
            bottom: 0;
            overflow-x: hidden;
            padding-bottom: 40px;
        }
        .side-nav>li>a {
            width: 225px;
            border-bottom: 1px rgba(0, 0, 0, .3) solid;
        }
        .side-nav li a:hover,
        .side-nav li a:focus {
            outline: none;
            background-color: #1a242f !important;
        }
        .hb {
            padding: 11px 0px;
        }
    }
    @media(min-width:700px) {
        .hb {
            padding: 5px 0px;
        }
    }
    @media(min-width:400px) {
        .top-nav {
            visibility: hidden;
            height: 0px;
            width: 0px
        }
    }
    @media(min-width:10px) {
        .top-nav {
            visibility: hidden;
            height: 0px;
            width: 0px
        }
    }
    .side-nav>li>ul {
        padding: 0;
        border-bottom: 1px rgba(0, 0, 0, .3) solid;
    }
    .side-nav>li>ul>li>a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        /*color: #999;*/
        /* color: #fff; */
    }
    /* .side-nav>li>ul>li>a:hover {
        color: #fff;
    } */
    .navbar .nav>li>a>.label {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        top: 14px;
        right: 6px;
        font-size: 10px;
        font-weight: normal;
        min-width: 15px;
        min-height: 15px;
        line-height: 1.0em;
        text-align: center;
        padding: 2px;
    }
    .navbar .nav>li>a:hover>.label {
        top: 10px;
    }
    .navbar-brand {
        padding: 10px 10px;
    }
    .btn {
        padding: 2px 6px;
        margin-right: 3px;
        /* color: #fff */
    }
    /* .name{
    margin-left: -196px;
    margin-top: 4px;
} */
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-item {
        margin-top: 0%;
        padding: 1;
        /* color: #fff;
        margin-right: 100px; */
    }
    .btn,
    .fas:link,
    .btn,
    .fas:visited {
        /* color: #fff; */
        /* border: 1px solid #7069d8; */
        background-color: #7069d8;
        /* border-color: #e67e22 */
    }
    .btn:hover,
    .btn:active {
        color: #7069d8;
        /* background-color: #fff; */
        border-radius: 20px;
    }
    .side-navbar:hover,
    .side-navbar:visited {
        color: #7069d8;
        border: 3px solid #9d9d9d;
        background-color: #7069d8;
        border-color: #000;
        border-radius: 20px;
    }
    .side-navbar:hover,
    .side-navbar:active {
        /* color: #fff; */
        background-color: #7069d8
    }
}


/* Border X get width  */

div.borderXwidth a:before,
div.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: black;
    transition: all 0.3s;
}

div.borderXwidth a:before {
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after {
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before,
div.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
}


/* Pull down  */

div.pullDown a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: black;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before {
    height: 100%;
}