
    <div   class="topDiv">
    <div class="main-agileits">
        <div class="row">
            <div class="column">
              
                    <div class="sign-in-wthree  form-height">
                        <div class="sign-in-top-agileinfo">
                            <h2>Profile Update</h2>
                            <p>update you information here</p>
                        </div>
                        <div class="sign-in-bottom-agileinfo">
                            <form action="#" method="post">
                                <h3>Email Address</h3>
                                <input type="text" name="email" required="">
                                <h3>Mobile Number</h3>
                                <input type="text" name="number" required="">
                                <h3>first name</h3>
                                <input type="text" name="password" required="">
                                <h3>Last name</h3>
                                <input type="text" name="password" required="">
                                <input type="submit" value="Update" />
                            </form>
                        </div>
                  
                </div>
            </div>
            <div class="column">
              
                    <div class=" form-height">
                        <div class="w3layouts">
                            <div class="sign-in-top-agileinfo">
                                <h2 style="color: #fff">Profile Update</h2>
                                <p>update you profile picture</p>
                            </div>
                            <div class="sign-in-bottom-agileinfo">
                                <form action="#" method="post">
                                    <label>
                                        <img [src]="imageUrl"
                                            style="width:125px;height:125px ; border-radius: 50%; margin-top: 10%">
                                        <input type="file" (change)="handleFileInput($event.target.files)"
                                            (change)="onFileSelected($event)" style="display:none;"> </label>
                                    <h3>Shubham holdandge</h3>
                                    
                                    <br>
                                    <br>
                                    <input type="submit" value="Update" (click)="setImage()" style="color: #fff;background-color: #7069d8 ; margin: 0px; ">
                                </form>
                            </div>
                        </div>
                    </div>
                
            </div>
            <div class="column">
              
                    <div class="sign-in-wthree form-height">
                        <div class="sign-in-top-agileinfo">
                            <h2>Change Password</h2>
                            <p> update you information here</p>
                        </div>
                        <div class="sign-in-bottom-agileinfo">
                            <form action="#" method="post">
                                <h3>Old Password</h3>
                                <input type="password" name="email" required="">
                                <h3>New Password</h3>
                                <input type="password" name="number" required="">
                                <h3>New Password</h3>
                                <input type="password" name="password" required="">
                                <input type="submit" value="Update">
                            </form>
                        </div>

                    </div>
              
            </div>
        </div>
    </div>
  
</div>