<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
<div class="main">
    <div class="card">

        <div class="header">
            <h3> Edit Court Entry
            </h3>
        </div>

        <div class="container">
            <form [formGroup]="courtForm" class="form-horizontal">

                <div class="form-group form-group-sm">
                    <!-- left column -->
                    <div class="col-sm-6">


                        <div class="form-group">
                            <label for=" courtName" class="col-sm-2 control-label"> Court Name</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="courtName" class="form-control" id=" courtName." placeholder=" Court Name.">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="location" class="col-sm-2 control-label ">Location</label>
                            <div class="col-sm-10">

                                <input type="text" formControlName="location" class="form-control" id=" location" placeholder=" Location">

                            </div>
                        </div>
                    </div>
                    <!-- right column -->
                    <div class="col-sm-6 ">




                        <div class="form-group ">
                            <label for="courtType" class="col-sm-2 control-label ">Court Type</label>
                            <div class="col-sm-10 ">
                                <div class="input-group ">

                                    <input type="text" formControlName="courtType" class="form-control " id="courtType " placeholder="Court Type ">
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <!-- Submit data -->
                <div class="form-group form-group-sm ">
                    <div class="col-sm-2 col-sm-offset-5 ">
                        <button type="button " class="btn btn-primary " id="new_submit " (click)="submit() ">Create Record</button>
                    </div>
                </div>


            </form>
        </div>


    </div>
</div>
<ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="template "></ngx-loading>