<div class="card">
    <div class="search">
        <input type="text" [(ngModel)]="searchText" placeholder="Type to filter by name">
    </div>
    <div class="container my-5">
        <div class="card-body">
            <h4 class="card-title">Users Details</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mobile No</th>
                        <th scope="col" class="email">Email </th>
                        <th class="Permissions" scope="col">Permissions</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of userData | filter:searchText; index as i">
                        <td>{{i+1 }}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.phoneNo}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.permissions}}</td>
                        <td> <button class="btn btn-primary buttons" [routerLink]="['/user/edit',data._id]"><span  class="glyphicon glyphicon-pencil"></span></button></td>
                        <td><button class="btn btn-primary buttons"><span class="glyphicon glyphicon-trash" (click)="deleteUser(data._id)"></span>
                    </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>



<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="template"></ngx-loading>