<div class="bodyDiv">
        <br>

        <h4 class="header4"> Confirm your email {{name}} Check your inbox <a
                        href="https://accounts.google.com/ServiceLogin/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                        style="color: #7069d8"> gmail </a>
                <a href="https://login.yahoo.com/?.src=ym&lang=&done=https%3A%2F%2Fmail.yahoo.com%2Fd%2Ffolders%2F1"
                        style="color: #7069d8"> yahoo </a>
                for advocate Diary confirmation email. A current email address helps ensure you don't lose access to
                your account.<br>
                <a href="https://accounts.google.com/ServiceLogin/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                        style="color: #7069d8"> Resend confirmation email </a>
        </h4>
        <br>
</div>
<div style="text-align: center;">
        <i class="fas fa-envelope icon"
                style='margin-top:0%; margin-right:px;  font-size: 1200% ; color: #7069d8; '></i>
</div>